.tsk3 {
    margin-left: 100px;
}
.color-block {
    width: 100%;
    max-width: 100px;
    height: 100px;
    background-color: black;
}
.tsk4{
    margin-left: 100px;
}
.box-area{
    width: 100%;
    max-width: 500px;
    height: 350px;
    background-color: lightgrey;
    position: relative;
}
.move-box {
    width: 20px;
    height: 20px;
    background-color: #000;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
}